VITE_SUPABASE_URL=https://rhkmoktquidjiqexfnuh.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=coloque_a_chave_publishable_do_supabase_aqui
SUPABASE_SECRET_KEY=coloque_a_chave_secreta_somente_no_servidor
INFINITEPAY_HANDLE=sua_infinite_tag_sem_cifrao
SITE_URL=https://adsuzano.com.br
VITE_VAPID_PUBLIC_KEY=chave_publica_vapid_para_push
VAPID_PRIVATE_KEY=chave_privada_vapid_somente_no_servidor
VAPID_SUBJECT=mailto:admin@adsuzano.com.br
